$white: #fff;
$black: #000;
$primary-color: #82B440;
$secondary-color: #1F2278;
$text-color: #343434;
$dark-text-color: #2B333F;
$font-family: "Poppins";
$transition: all 0.3s ease;
$text-color-card: #212931;
$secondary-bg: linear-gradient(0deg, rgba(0, 51, 102, 0.04), rgba(0, 51, 102, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);

;